.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* height: 375px; */
  padding: 100px 20px;
}

.header .light-text {
  font-size: 2.2em;
  font-weight: 150;
  letter-spacing: 10px;
}

.header .bold-text {
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 9em;
  letter-spacing: 4px;
  text-align: center;
}

.menu-btn{
  display: none;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

.nav-container .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  width: 90%;
}

.nav-container .navbar .nav-items {
  cursor: pointer;
  font-size: 1.2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid;
  height: 100%;
  width: 20%;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

.nav-container .navbar .nav-items i {
  margin: 0 10px;
  font-size: 1.4em;
}

.nav-container .navbar .nav-items:hover {
  color: white;
  background: black;
  letter-spacing: 4px;
}

.nav-container .navbar .right-border {
  border-right: 1px solid;
}

.footer-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.footer-container .footer {
  height: 100%;
  border-top: 1px solid;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1550px){

  .header .light-text {
    font-size: 2em;
    font-weight: 150;
    letter-spacing: 10px;
  }
  
  .header .bold-text {
    font-family: Playfair Display;
    font-weight: 800;
    font-size: 7em;
    letter-spacing: 4px;
  }

  .nav-container .navbar{
    width: 90%;
  }
}

@media only screen and (max-width: 1300px) and (min-width: 460px){

  .header {
    padding: 50px 20px;
  }

  .header .light-text {
    font-size: 1.5em;
    font-weight: 400;
    letter-spacing: none;
    text-align: center;
  }
  
  .header .bold-text {
    font-family: Playfair Display;
    font-weight: 800;
    font-size: 4em;
    letter-spacing: 4px;
  }
  
}
@media only screen and (max-width: 459px){

  .header {
    padding: 20px;
  }

  .header .light-text {
    font-size: 0.6em;
    font-weight: 400;
    letter-spacing: none;
    text-align: center;
  }
  
  .header .bold-text {
    margin-top: 5px;
    font-family: Playfair Display;
    font-weight: 800;
    font-size: 1.6em;
    text-align: center;
    letter-spacing: 4px;
  }

  .menu-btn {
    z-index: 20;
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    transition: all 0.3s ease-out;
    /* border: 2px solid black; */
    border-radius: 40px;
  }
  
  .menu-btn-brg {
    width: 15px;
    height: 2px;
    background: black;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }
  
  .menu-btn-brg::before,
  .menu-btn-brg::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 2px;
    background: black;
    border-radius: 5px;
    transition: all 0.3s ease-out;
  }
  
  .menu-btn-brg::before {
    transform: translateY(-5px);
  }
  
  .menu-btn-brg::after {
    transform: translateY(5px);
  }
  
  /* ANIMATION */
  
  .menu-btn.open .menu-btn-brg {
    transform: translateX(-50px);
    background: transparent;
  }
  
  .menu-btn.open .menu-btn-brg::before {
    transform: rotate(45deg) translate(35px, -35px);
  }
  .menu-btn.open .menu-btn-brg::after {
    transform: rotate(-45deg) translate(35px, 35px);
  }

  .nav-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 0vw;
    overflow: hidden;
    height: 80vh;
    background: white;
    transition: all 0.2s ease-in-out;
    border-left: 1px solid;
    border-bottom: 1px solid;
    z-index: 10;
  }

  .nav-open{
    width: 80vw;
  }

  .nav-container .navbar{
    border: 2px solid;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    border: none;
  }

  .nav-container .navbar .right-border {
    border-right: 0px solid;
  }

  .nav-container .navbar .nav-items{
    height: 100%;
    border-left: 0px;
    /* border: 1px solid; */
    width: 100%;
  }
}

