.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 375px;
}

.header .light-text {
  font-size: 2.2em;
  font-weight: 150;
  letter-spacing: 10px;
}

.header .bold-text {
  font-family: Playfair Display;
  font-weight: 800;
  font-size: 9em;
  letter-spacing: 4px;
}

.nav-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.nav-container .navbar {
  border-top: 1px solid;
  border-bottom: 1px solid;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 80px;
  width: 1850px;
}

.nav-container .navbar .nav-items {
  cursor: pointer;
  font-size: 1.2em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-left: 1px solid;
  height: 100%;
  width: 300px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  letter-spacing: 2px;
  text-decoration: none;
  color: black;
}

.nav-container .navbar .nav-items i {
  margin: 0 10px;
  font-size: 1.4em;
}

.nav-container .navbar .nav-items:hover {
  color: white;
  background: black;
  letter-spacing: 4px;
}

.nav-container .navbar .right-border {
  border-right: 1px solid;
}

.footer-container {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 400;
  font-size: 1.5em;
  letter-spacing: 3px;
}

.footer-container .footer {
  height: 100%;
  border-top: 1px solid;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
