@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: Nunito;
    box-sizing: border-box;

    --purple: #5800CA;
}

html {    
    scroll-behavior: smooth;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // border: 1px solid black;
    height: 375px;
    
    .light-text{
        font-size: 2.2em;
        font-weight: 150;
        letter-spacing: 10px;
    }
    
    .bold-text{
        font-family: Playfair Display;
        font-weight: 800;
        font-size: 9em;
        letter-spacing: 4px;
    }
}

.nav-container{

    display: flex;
    justify-content: center;

    .navbar{
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80px;
    
        width: 1850px;
    
        
        .nav-items{
            font-size: 1.2em;
            justify-content: center;
            display: flex;
            align-items: center;
            border-left: 1px solid;
            height: 100%;
            width: 300px;
        }

        .nav-items:hover{
            color: var(--purple);
        }
        
        .right-border{
            
            border-right: 1px solid;
        }
    }
}

.status{
    // position: absolute;
    // left: ;
    margin-right: -500px;
    margin-top: -900px;

    background: white;
    border: 1px solid;

    width: 500px;
    height: 100px;

    z-index: 10;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 300;
    font-size: 2em;
    letter-spacing: 10px;

}

.container-featured{

    display: flex;
    justify-content: center;
    align-items: center;
    // border: 1px solid;s

    padding: 100px;
    padding-top: 150px;
    height: 1100px;

    .featured{
        border: 1px solid;
        width: min-content;
        overflow: hidden;
        transition: all 0.1s ease-in-out;

        img{
            width: 1000px;
            // height: 500px;
            overflow: hidden;
        }

        .details{
            padding: 40px;

            .date-time{
                font-weight: 400;
                margin-bottom: 10px;
            }
            
            .title{
                font-weight: 700;
                font-size: 2.5em;
                margin-bottom: 10px;
            }

            .description{
                letter-spacing: 1px;
                font-size: 1.1em;
            }

        }
    }
    .featured:hover{
        color: var(--purple);
        border-radius: 15px;
    }
}

.newsletter-container{
    display: flex;
    justify-content: center;

    .newsletter{
        border-top: 1px solid;
        border-bottom: 1px solid;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 250px;
    
        width: 1850px;
        padding: 10px;


        div{
            // border: 1px solid;
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .text{
            font-family: Playfair Display;
            font-size: 3em;
            font-weight: 700;
            letter-spacing: 4px;
        }

        input{
            border: none;
            border-bottom: 2px solid;
            width: 300px;
            height: 60px;
            font-size: 1.1em;
            letter-spacing: 3px;
            text-align: center;
        }

        ::placeholder{
            // text-align: center;
            position: absolute;
            top: 0;
            left: 0;
            font-weight: 500;
            letter-spacing: 3px;
            // color: red;
        }

        button{
            cursor: pointer;
            background: var(--purple);
            height: 60px;
            border: none;
            width: 200px;
            color: white;
            margin-left: 20px;
            font-size: 1.1em;
            letter-spacing: 3px;
            transition: all 0.2s ease-in-out;
        }

        button:hover{
            background: black;
            letter-spacing: 6px;
        }

    }
}

.train-container{
    padding: 80px;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;

    .train-title{
        font-weight: 100;
        font-size: 3.5em;
        letter-spacing: 10px;
        margin-bottom: 60px;
    }

    .two-blog{

        display: flex;
        
        .blog-link{
            margin: 20px;
            height: max-content;
            width: 700px;
            border: 1px solid;
            height: 400px;
            
            display: flex;
            justify-content: center;
            transition: all 0.1s ease-in-out;
            overflow: hidden;
            
            .img-box{
                width: 700px;
                overflow: hidden;
                img{
                    height: 400px;
                }
            }
            
            .details{
                width: 100%;
                padding: 40px;
                
                .date-time{
                    font-weight: 400;
                    margin-bottom: 10px;
                }
                
                .title{
                    font-weight: 700;
                    font-size: 1.5em;
                    margin-bottom: 10px;
                }
                
                .description{
                    letter-spacing: 1px;
                    font-size: 1.1em;
                    margin-bottom: 25px;
                    overflow: hidden;
                    // border: 1px solid;
                    height: 170px;
                }

                a{
                    background: var(--purple);
                    color: white;
                    text-decoration: none;
                    // margin-top: ;
                    padding: 10px 30px;
                    transition: all 0.1s ease-in-out;
                }
                
                a:hover{
                    border-radius: 5px;
                    background: black;
                }
            }
        }
    }
}

.about-container{
    // padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    // border-top: 1px solid;
    
    .border{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 1px solid;
        border-bottom: 1px solid;
        padding-top: 80px;
        padding-bottom: 80px;
        width: 95%;
    }

    .about-title{
        font-weight: 100;
        font-size: 3.5em;
        letter-spacing: 10px;
        margin-bottom: 60px;
    }

    .about{
        width: 100%;
        display: flex;
        justify-content: center;

        img{
            border: 1px solid;
            margin-right: 100px;
        }
        
        .des{
            display: flex;
            align-items: center;
            width: 800px;
            // border: 1px solid;
            font-weight: 400;
            font-size: 1.8em;
            letter-spacing: 2px;
        }
    }

}

.conatct-container{
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 200;
    font-size: 5em;
    letter-spacing: 10px;
}

.footer-container{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer{
        height: 100%;
        border-top: 1px solid;
        width: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    font-weight: 400;
    font-size: 1.5em;
    letter-spacing: 3px;
}